body.standar_fondo{
    background-image: url('../img/menu_top/fondo.png'); 
    background-repeat: repeat-x;
    background-color: #CCE6ED;
    margin:0; 
    top: 0;
    padding: 0; 
    width: 100%;
    border-spacing: 0;
    /*height: 900px;*/      
    /*overflow: hidden;*/  
    /*position: fixed;*/  
}

/*Window*/
div.standar_content{
    padding: 0;        
    margin-top: 0px;
    top: 0px;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;    
}

/**
* Css estandar para todo el proyecto
*/

.standar_font{
    font-family: Arial;
    font-size: 9pt;
}

/*
* Menus de acordion y otros
*/
.standar_font_menu{
    font-family: Arial;
    font-size: 8pt;
    font-weight: bold;
}

/*
*Formato de los label
*/

label{
    width: 100px;
    display: inline-block;
    line-height: 1.8;
    vertical-align: top;  
    text-align:left; 
}

label.error{
    width: 100%;
    /*border:1px solid #B8650A;  
    color: #B8650A;*/
    font-family:Arial;
    font-size: 9pt;
    color: #B8650A;  
    text-align:center;    
}

/*
* Formato de formularios
*/
input{
    width:100px
}

/*Formato para los hipervinculos*/
a:link {    
    text-decoration: none
}
a:visited {   
    text-decoration: none
}
a:active {  
    text-decoration: none
}
a:hover {       
    color: red;
}


/*Estandar de las lsitas*/
li{
    /*list-style: none;*/
}
