.no_mostrar{
	display:none;
}
.top_menu_fondo{
    background-image: url('../img/menu_top/fondo.png'); 
    margin:0; 
    margin-top: -20px;
    padding: 0; 
    width: 100%;
    border-spacing: 0;
    height: 900px;      
    overflow: hidden;    
}

/*Window*/
    table.menu_top_window{
        padding: 0;        
        margin-top: 0px;
    }

    /*top*/
.top_menu_window_top_left{
    background-image: url('../img/menu_top/windows/images/windows_01.gif');
    background-repeat: no-repeat;
    width:5px;
    height: 48px;
}
.top_menu_window_top_circle{
    background-image: url('../img/menu_top/windows/images/windows_02.gif');
    background-repeat: no-repeat;
    width:27px;
    height: 48px;
}
.top_menu_window_top_center{
    background-image: url('../img/menu_top/windows/images/windows_03.gif');
    background-repeat:repeat-x; 
    height: 48px;    
    

}
.top_menu_window_top_right{
    background-image: url('../img/menu_top/windows/images/windows_05.gif');
    background-repeat: repeat-x;   
    height: 48px;
}

    /*body*/
.top_menu_window_body_left{
    background-image: url('../img/menu_top/windows/images/windows_06.gif');
    background-repeat: repeat-y;
    width:5px;
    height: 48px;
}
.top_menu_window_body_circle{
   background-color: white; 
}
.top_menu_window_body_center{
   background-color: white;
}
.top_menu_window_body_right{
    background-image: url('../img/menu_top/windows/images/windows_09.gif');
    background-repeat: repeat-y;   
    height: 48px;
}

    /*footer*/
.top_menu_window_footer_left{
    background-image: url('../img/menu_top/windows/images/windows_12.gif');
    background-repeat: no-repeat;
    width:5px;
    height: 5px;
}

.top_menu_window_footer_center{
    background-image: url('../img/menu_top/windows/images/windows_13.gif');
    background-repeat:repeat-x;  
    height: 5px;
}
.top_menu_window_footer_right{
    background-image: url('../img/menu_top/windows/images/windows_14.gif');
    background-repeat: no-repeat;   
    height: 5px;
    width: 5px;
}

